.container {
  padding: 20px;
  width: 100%;
  display: flex;            
  flex-direction: column;     /* lodret */
  align-items: center;        /* vandret centrering */
  text-align: center;         /* tekst centreres */
}

.imageWrapper {
  display: flex;
  margin: 20px 0;
}

.text {
  margin-top: 15px;
  line-height: 1.6;
}

