.logsBox {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
}

.logItem {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.logItem:last-child {
  border-bottom: none;
}

.button{
  color: #f3eeee;
  background-color: rgb(238, 7, 7);
}

.actions {
  display: flex;
  gap: 10px; /* afstand mellem knapper */
}