.card {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.card:hover {
  background-color: #f5f5f5;
}

.actions {
  display: flex;
  gap: 10px; /* afstand mellem knapper */
}


.button{
  color: #f3eeee;
  background-color: rgb(238, 7, 7);
}